DesignGuidelines/.vs
DesignGuidelines/obj

ECommerceMicroservices/.vs

ECommerceMicroservices/src/ApiGateway/OcelotGateway/obj
ECommerceMicroservices/src/ApiGateway/OcelotGateway/bin

ECommerceMicroservices/src/EventBus/EventBus.RabbitMQ/obj
ECommerceMicroservices/src/EventBus/EventBus.RabbitMQ/bin

ECommerceMicroservices/src/Services/Shared/obj
ECommerceMicroservices/src/Services/Shared/bin
ECommerceMicroservices/src/Services/Shared.Domain/obj
ECommerceMicroservices/src/Services/Shared.Domain/bin
ECommerceMicroservices/src/Services/Shared.Infrastructure/obj
ECommerceMicroservices/src/Services/Shared.Infrastructure/bin

ECommerceMicroservices/src/Services/Cart/Cart.Api/obj
ECommerceMicroservices/src/Services/Cart/Cart.Api/bin
ECommerceMicroservices/src/Services/Cart/Cart.Domain/obj
ECommerceMicroservices/src/Services/Cart/Cart.Domain/bin
ECommerceMicroservices/src/Services/Cart/Cart.EventBus/obj
ECommerceMicroservices/src/Services/Cart/Cart.EventBus/bin
ECommerceMicroservices/src/Services/Cart/Cart.Infrastructure/obj
ECommerceMicroservices/src/Services/Cart/Cart.Infrastructure/bin
ECommerceMicroservices/src/Services/Cart/Cart.Test/obj
ECommerceMicroservices/src/Services/Cart/Cart.Test/bin

ECommerceMicroservices/src/Services/Identity/Identity.Api/obj
ECommerceMicroservices/src/Services/Identity/Identity.Api/bin
ECommerceMicroservices/src/Services/Identity/Identity.Domain/obj
ECommerceMicroservices/src/Services/Identity/Identity.Domain/bin
ECommerceMicroservices/src/Services/Identity/Identity.EventBus/obj
ECommerceMicroservices/src/Services/Identity/Identity.EventBus/bin
ECommerceMicroservices/src/Services/Identity/Identity.Infrastructure/obj
ECommerceMicroservices/src/Services/Identity/Identity.Infrastructure/bin
ECommerceMicroservices/src/Services/Identity/Identity.Test/obj
ECommerceMicroservices/src/Services/Identity/Identity.Test/bin

ECommerceMicroservices/src/Services/Ordering/Ordering.Api/obj
ECommerceMicroservices/src/Services/Ordering/Ordering.Api/bin
ECommerceMicroservices/src/Services/Ordering/Ordering.Domain/obj
ECommerceMicroservices/src/Services/Ordering/Ordering.Domain/bin
ECommerceMicroservices/src/Services/Ordering/Ordering.EventBus/obj
ECommerceMicroservices/src/Services/Ordering/Ordering.EventBus/bin
ECommerceMicroservices/src/Services/Ordering/Ordering.Infrastructure/obj
ECommerceMicroservices/src/Services/Ordering/Ordering.Infrastructure/bin
ECommerceMicroservices/src/Services/Ordering/Ordering.Test/obj
ECommerceMicroservices/src/Services/Ordering/Ordering.Test/bin

ECommerceMicroservices/src/Services/Payment/Payment.Api/obj
ECommerceMicroservices/src/Services/Payment/Payment.Api/bin
ECommerceMicroservices/src/Services/Payment/Payment.Domain/obj
ECommerceMicroservices/src/Services/Payment/Payment.Domain/bin
ECommerceMicroservices/src/Services/Payment/Payment.EventBus/obj
ECommerceMicroservices/src/Services/Payment/Payment.EventBus/bin
ECommerceMicroservices/src/Services/Payment/Payment.Infrastructure/obj
ECommerceMicroservices/src/Services/Payment/Payment.Infrastructure/bin
ECommerceMicroservices/src/Services/Payment/Payment.Test/obj
ECommerceMicroservices/src/Services/Payment/Payment.Test/bin

ECommerceMicroservices/src/Services/Product/Product.Api/obj
ECommerceMicroservices/src/Services/Product/Product.Api/bin
ECommerceMicroservices/src/Services/Product/Product.Domain/obj
ECommerceMicroservices/src/Services/Product/Product.Domain/bin
ECommerceMicroservices/src/Services/Product/Product.EventBus/obj
ECommerceMicroservices/src/Services/Product/Product.EventBus/bin
ECommerceMicroservices/src/Services/Product/Product.Infrastructure/obj
ECommerceMicroservices/src/Services/Product/Product.Infrastructure/bin
ECommerceMicroservices/src/Services/Product/Product.Test/obj
ECommerceMicroservices/src/Services/Product/Product.Test/bin

AdvancedAnalyzer/.vs
AdvancedAnalyzer/AdvancedAnalyzer/bin
AdvancedAnalyzer/AdvancedAnalyzer/obj
AdvancedAnalyzer/AdvancedAnalyzer.CodeFixes/bin
AdvancedAnalyzer/AdvancedAnalyzer.CodeFixes/obj
AdvancedAnalyzer/AdvancedAnalyzer.Package/bin
AdvancedAnalyzer/AdvancedAnalyzer.Package/obj
AdvancedAnalyzer/AdvancedAnalyzer.Test/bin
AdvancedAnalyzer/AdvancedAnalyzer.Test/obj
AdvancedAnalyzer/AdvancedAnalyzer.Vsix/bin
AdvancedAnalyzer/AdvancedAnalyzer.Vsix/obj


